<p>  this is the main page </p>
<ul>

<li> <%= link_to 'Trainers list', trainer_index_path %> </li> </br>
<li> <%= link_to 'Gym list', gym_index_path %> </li>
</ul>
<html>
<head>
<style> 
body {
  
  background-color: #808080;

}
</style>
</head>
</html>

