<h1>This is Gyms list</h1>
<table>
<thead>
<tr>
<th> Name </th>
<th> City </th>
<th> Description </th>
<th colspan = "3"> Action </th>
</tr>
</thead>
<tbody> <%= @gym.each do |gyms|%>
<tr>
<td> <%= gym.Name %> </td>
<td> <%= gym.City %> </td>
<td> <%= gym.Description %> </td>
<td> placeholhers </td>
</tr>
</tbody>
<%end%>
</table>
