<h1>This is Trainers list</h1>
<table>
<thead>
<tr>
<th> Name </th> 
<th> Gym Association </th> 
<th colspan = "3"> Action </th> 
</tr>
</thead>
<tbody> <%= @trainers.each do |trainer|%>
<tr>
<td> <%= trainer.Name %> </td>
<td> Gym Assosiation </td>
<td> <%= link_to 'Details', 'trainer_path' %> </td>
</tr>
</tbody>
<%end%>
</table>
